html::before {
  content: 'CodePen ♥ The Web';
  position: fixed;
  inset: 0;
  z-index: -1;
  margin: auto;
  width: fit-content;
  height: fit-content;
  font-family: monospace;
  opacity: 0.6;
  background: rebeccapurple;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}
    h1{text-align:center;color:maroon;font-fomily:times new roman;font-weight:bold
      }
p {font-size:15;color:white 
  }
body {background-color: pink;border:5px solid maroon;border-radius:10px
     }
ul {list-style-type:none;
   }
img{
  display: block;
  margin: 0px auto;
} 
